/* Basic styling */
body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #0352A9;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Navigation */
nav {
  background-color: #f7f7f7;
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
}
nav a:hover {
  background-color: #39a5dc;
  color: #fff;
}

/* Hero Section */
.hero-section {
    position: relative; /* to make the logo-image absolute positioned */
    width: 100%; /* to make the hero-banner take the entire width of its parent container */
    height: 600px; /* to set the height of the hero-banner */
    background-color: #ADD8E6; /* Add a background color to the hero section */
}

/* Hero Banner */
.hero-banner {
    background-image: url('banner-annuities.png'); /* path to the background image */
    background-size: cover; /* to make the background image cover the entire hero-banner */
    background-position: center; /* to center the background image */
    width: 100%;
    height: 100%;
}

/* Logo Image */
.logo-image {
    position: absolute; /* position the logo-image in the top right corner */
    top: 10px; /* position the logo-image 10px from the top */
    right: 10px; /* position the logo-image 10px from the right */
    width: 190px; /* set the width of the logo-image */
    height: 256px; /* set the height of the logo-image */
}






.annuities {
  text-align: center;
  background-color: #F8F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.annuities h1 {
  color: #0352A9;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  font-size: 2em;
}

.annuities .gray-line-image { /* changed to keep the image at its original size */
  width: 50%;
  margin: 0 auto;
  display: block;
}

.annuities p {
  text-align: center;
  margin-bottom: 10px;
  width: 75%;
  font-weight:bold;
}

.annuities .image { /* added to make the image span across the entire screen */
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}





.SPIA {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #ccc;
  width: 100%;
}

.SPIA h2 {
  color: #259922;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.SPIA .SPIA-image {
  width: 50%;
  max-height: 10px;
  display: block;
  margin: 20px auto;
  border: 1px solid #55A569;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.SPIA .SPIA-image:hover {
  cursor: pointer;
  border: 1px solid #333;
}

.SPIA p {
font-family: Arial, sans-serif;
font-size: 14px;
line-height: 1.5;
text-align: justify;
color: #333;
  max-width: 75%;
}

.SPIA p strong {
font-weight: bold;
color: #55A569;
}

.SPIA .SPIA-Link {
  text-align: center;
  height: 191px;
  width: 365px;
  display: block;
  margin: 0 auto;
}

.SPIA .SPIA-Link:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.FIA {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #ccc;
  width: 100%;
}

.FIA h2 {
  color: #0080BF;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.FIA .FIA-image {
  width: 50%;
  max-height: 10px;
  display: block;
  margin: 0 auto;
}

.FIA p strong{
  color: #0080BF;
  font-weight: bold;
}

.FIA p {
font-family: Arial, sans-serif;
font-size: 14px;
line-height: 1.5;
text-align: justify;
color: #333;
  max-width: 75%;
}


.FIA .FIA-Link {
  text-align: center;
 height: 191px;
  width: 365px;
  display: block;
  margin: 0 auto;
}

.MYGA {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #ccc;
  width: 100%;
}


.MYGA h2 {
  color: #FEAA23;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.MYGA .MYGA-image {
  width: 50%;
  max-height: 10px;
  display: block;
  margin: 0 auto;
}

.MYGA p strong{
  color: #FEAA23;
  font-weight: bold;
}


.MYGA p {
font-family: Arial, sans-serif;
font-size: 14px;
line-height: 1.5;
text-align: justify;
color: #333;
max-width: 75%;
}


.MYGA .MYGA-Link {
  text-align: center;
  height: 191px;
  width: 365px;
  display: block;
  margin: 0 auto;
}

.call {
  background-color: white;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;
  height: 75vh;
  width: 100vw;
}


.call h2 {
   color: #0352A9;
  margin-bottom: 20px;
}

.call .gray-line-image {
  width: 50%;
  height: 1px;
  max-width: 600px;
  margin: 40px 0;
}

.call p {
  font-weight: bold;
  margin-bottom: 20px;
}

/* Schedule Consultation Button */
    .call .schedule-call-button, .call .form-button {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    background-color: #0352A9;
    color: white; /* change the text color as desired */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* make the cursor change when hovering over the button */
    font-size: 16px;
}





.disclosures2 {
  padding-top: 100px;
  width: 100vw;
  margin: 0;
  background-color: #F8F9F9;
  font-size: 10px;
  font-weight: lighter;
  box-sizing: border-box;
}

.disclosures2 p {
  width: 100%;
  background-color: #F8F9F9;
  font-size: 10px;
  font-weight: lighter;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


      .footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
        .footer a {
            color: #fff;
            text-decoration: underline;
        }

/* Mobile styles for hero section */
@media only screen and (max-width: 480px) {
    .hero-section {
        height: 200px; /* set a smaller height for the hero-section on mobile */
    }
    .logo-image {
        width: 80px; /* set a smaller width for the logo-image on mobile */
        height: 120px; /* set a smaller height for the logo-image on mobile */
    }
}




@media (max-width: 600px) {
  .SPIA-link, .FIA-link, .MYGA-link {
        max-width: 100%; 
        max-height: 250px; 
    }
}












/* Media Queries for responsive design /
@media (max-width: 600px) {
/ Navigation */
nav {
text-align: left;
overflow: hidden;
}
nav li {
display: block;
margin: 10px 0;
}

