/* Basic styling */
body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #39a5dc;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Navigation */
nav {
  background-color: #f7f7f7;
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
}
nav a:hover {
  background-color: #39a5dc;
  color: #fff;
}

/* Basic styling */
body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Hero Section */
.hero-section {
    position: relative; /* to make the logo-image absolute positioned */
    width: 100%; /* to make the hero-banner take the entire width of its parent container */
    height: 600px; /* to set the height of the hero-banner */
}

/* Hero Banner */
.hero-banner {
    background-image: url('banner-annuities.png'); /* path to the background image */
    background-size: cover; /* to make the background image cover the entire hero-banner */
    background-position: center; /* to center the background image */
    width: 100%;
    height: 100%;
}

/* Logo Image */
.logo-image {
    position: absolute; /* to position the logo-image inside the hero-section */
    bottom: 20px; /* to position the logo-image 20px from the bottom */
    left: 20px; /* to position the logo-image 20px from the left */
    width: 190px; /* to set the width of the logo-image */
    height: 256px; /* to set the height of the logo-image */
}



.annuitieswelcome {
    display: flex;
    background-color: #F8F9F9;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

h1 {
  color: #0352A9;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}


p {
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}




#annuitiesSPIA {
  text-align: center;
  background-color: #F8F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#annuitiesSPIA h1 {
  color: #0352A9;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  font-size: 2em;
}

#annuitiesSPIA .bar-image { /* changed to keep the image at its original size */
  width: 20%;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

#annuitiesSPIA p {
  text-align: center;
  margin-bottom: 10px;
  width: 75%;
}

#annuitiesSPIA .SPIA-image { /* added to make the image span across the entire screen */
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}




#annuitiesFIA {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#annuitiesFIA h1 {
  color: #0352A9;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  font-size: 2em;
}



#annuitiesFIA .bar-image {
  width: 20%;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

#annuitiesFIA p {
  width: 75%;
  text-align: center;
  margin-bottom: 10px;
}


.FIA-image {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}










#annuitiesMYGA {
  text-align: center;
  background-color: #F8F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#annuitiesMYGA h1 {
  color: #0352A9;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  font-size: 2em;
}

#annuitiesMYGA .bar-image {
  width: 20%;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}


#annuitiesMYGA p {
  text-align: center;
  margin-bottom: 10px;
  width: 75%;
}

.MYGA-image {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}



#annuitiesschedule {
    text-align: center;
    padding: 20px;
    background-color: #F8F9F9; /* change the background color as desired */
}

#annuitiesschedule h1 {
    color: #0352A9; /* change the color as desired */
    margin-bottom: 10px; /* add some spacing between the h1 and p */
}

#annuitiesschedule p {
    margin-bottom: 20px; /* add some spacing between the p and button */
}

#annuitiesschedule .schedule-consultation-button {
    background-color: #4CAF50; /* change the background color as desired */
    color: white; /* change the text color as desired */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* make the cursor change when hovering over the button */
    font-size: 16px;
}

#annuitiesschedule .schedule-consultation-button:hover {
    background-color: #3e8e41; /* change the background color on hover as desired */
}









/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}














/* Media Queries for responsive design /
@media (max-width: 600px) {
/ Navigation */
nav {
text-align: left;
overflow: hidden;
}
nav li {
display: block;
margin: 10px 0;
}

