/* Basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #39a5dc;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Navigation */
nav {
  background-color: #f7f7f7;
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
}
nav a:hover {
  background-color: #39a5dc;
  color: #fff;
}

.hero-section {
    position: relative; /* to make the logo-image absolute positioned */
    width: 100%; /* to make the hero-banner take the entire width of its parent container */
    height: 300px; /* to set the height of the hero-banner */
}

.hero-banner {
    background-image: url('logo.png'); /* path to the background image */
    width: 100%;
    height: 100%;
    background-size: cover; /* to make the background image cover the entire hero-banner */
    background-position: center; /* to center the background image */
}


/* Main Content Styles */
section {
  margin: 2rem 0;
}

section h1,
section h2,
section h3 {
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: space-between;
}

.product {
  flex: 1;
  text-align: center;
}

.product img {
  height: 75px;
  margin: 0 auto 1rem;
}

.product a.button {
  background-color: #4CAF50;
  color: #fff;
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 75%;
}

/* Form Styles */
form {
  margin: 2rem auto;
  width: 75%;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form select,
form textarea {
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 100%;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

/* Footer Styles */
footer {
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Media Queries for responsive design /
@media (max-width: 600px) {
/ Navigation */
nav {
text-align: left;
overflow: hidden;
}
nav li {
display: block;
margin: 10px 0;
}
