/* Basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #39a5dc;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Navigation */
nav {
  background-color: #f7f7f7;
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
}
nav a:hover {
  background-color: #39a5dc;
  color: #fff;
}


.hero-section {
    position: relative; /* to make the logo-image absolute positioned */
    width: 100%; /* to make the hero-banner take the entire width of its parent container */
    height: 300px; /* to set the height of the hero-banner */
}

.hero-banner {
    background-image: url('babies-holding-hands.jpg'); /* path to the background image */
    width: 100%;
    height: 100%;
    background-size: cover; /* to make the background image cover the entire hero-banner */
    background-position: center; /* to center the background image */

  
  
  
  
  
  
}
#life-insurance {
    display: flex;
    background-color: #F8F9F9;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#life-insurance h1 {
    color: #0352A9;
    padding: 10px;
    text-align: center;
    margin: 0;
    width: 60%;
}


life-insurance p {
    padding: 10px;
    text-align: center;
    margin: 0;
    width: 40%;
}


#personal {
  background-color: white;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#personal .face1-image {
    width: 20%; /* adjust as needed */
    height: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
   margin-bottom: 3em; /* add more space as per your requirement */
}

#personal h1 {
    font-size: 1.2em;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}

#business {
  background-color: #F8F9F9;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#business .face2-image {
    width: 20%; /* adjust as needed */
    height: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
   margin-bottom: 3em; /* add more space as per your requirement */
}

#business h1 {
    font-size: 1.2em;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}

#medical {
  background-color: white;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#medical .face3-image {
    width: 20%; /* adjust as needed */
    height: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
   margin-bottom: 3em; /* add more space as per your requirement */
}

#medical h1 {
    font-size: 1.2em;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}

#planning {
  background-color: white;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}


#planning h1 {
    font-size: 1.2em;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}


#planning .face4-image {
    width: 20%; /* adjust as needed */
    height: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
   margin-bottom: 3em; /* add more space as per your requirement */
}







  
  
  
#Term {
  background-color: white;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#Term h1 {
    font-size: 1.2em;
    color: #0352A9;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}
  

#Term .term-image {
    width: 75%; /* adjust as needed */
    height: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
}

  
  
  

#WholeLife {
background-color: #F8F9F9;
text-align: center;
width: 100%;
margin: 0 auto;
}

#WholeLife h1 {
    font-size: 1.2em;
    color: #0352A9;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}

#WholeLife .wl-image {
    width: 75%; /* adjust as needed */
    height: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
}

  
  
  
#IndexedUniversalLife {
background-color: white;
text-align: center;
width: 100%;
margin: 0 auto;
}

#IndexedUniversalLife h1 {
    font-size: 1.2em;
    color: #0352A9;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}

#IndexedUniversalLife .iul-image {
    width: 75%; /* adjust as needed */
    height: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
}

  
  
  
  
  
#consultation {
background-color: #F8F9F9;
text-align: center;
width: 100%;
margin: 0 auto;
}

#consultation h1 {
color: #0352A9;
text-align: center;
}

#consultation h2 {
text-align: center;
}

#consultation button {
background-color: green;
color: white;
border: none;
padding: 10px 20px;
margin: 0 auto;
display: block;
text-align: center;
}

#consultation button:hover {
background-color: darkgreen;
cursor: pointer;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Media Queries for responsive design /
@media (max-width: 600px) {
/ Navigation */
nav {
text-align: left;
overflow: hidden;
}
nav li {
display: block;
margin: 10px 0;
}

  /* Product Styles */
  .product-container {
    flex-wrap: wrap;
  }

  .product {
    flex-basis: 100%;
  }
}

