body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #39a5dc;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Navigation */
nav {
  background-color: #f7f7f7;
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
}
nav a:hover {
  background-color: #39a5dc;
  color: #fff;
}

section {
    padding: 40px 80px; /* Add padding to the top and bottom and left and right of the section */
    font-size: 18px; /* Increase font size for readability */
    line-height: 1.5; /* Add some line spacing for readability */
    background-color: #f9f9f9; /* Add some background color to make the text more visible */
    color: #333; /* Change the text color to make it more legible */
    text-align: justify; /* Align the text to both sides of the section */
    position: relative; /* set position relative to the section to be able to use ::before and ::after */
}

section::before {
    content: ""; /* Clear the content */
    display: block; /* Make the pseudo-element a block element */
    width: 100%; /* Make the pseudo-element the full width of the section */
    height: 1px; /* Make the pseudo-element 1px tall */
    background-color: #ccc; /* Set the background color of the pseudo-element */
    position: absolute; /* set position absolute to be able to place it at the bottom of the section */
    left: 0; /* place it at the left of the section */
    right: 0; /* place it at the right of the section */
    bottom: 0; /* place it at the bottom of the section */
    margin: 0 80px; /* add a margin of 80px from left and right to match the padding */
}


section#life-insurance button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Increase the font size of the button text */
    font-weight: bold; /* Make the button text bold */
    border-radius: 20px; /* Add some border radius to make the button more visually appealing */
    transition: background-color 0.2s ease-in; /* Add a transition effect for the hover state */
}

section#life-insurance button:hover {
    background-color: #555; /* Change the background color on hover */
}


/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Media Queries for responsive design /
@media (max-width: 600px) {
/ Navigation */
nav {
text-align: left;
overflow: hidden;
}
nav li {
display: block;
margin: 10px 0;
}

  /* Product Styles */
  .product-container {
    flex-wrap: wrap;
  }

  .product {
    flex-basis: 100%;
  }
}

