/* Basic styling */
body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #39a5dc;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Navigation */
nav {
  background-color: #f7f7f7;
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
}
nav a:hover {
  background-color: #39a5dc;
  color: #fff;
}
/* Basic styling */
body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Hero Section */
.hero-section {
    position: relative; /* to make the logo-image absolute positioned */
    width: 100%; /* to make the hero-banner take the entire width of its parent container */
    height: 600px; /* to set the height of the hero-banner */
}

/* Hero Banner */
.hero-banner {
    background-image: url('banner-home-page.png'); /* path to the background image */
    background-size: cover; /* to make the background image cover the entire hero-banner */
    background-position: center; /* to center the background image */
    width: 100%;
    height: 100%;
}

/* Logo Image */
.logo-image {
    position: absolute; /* position the logo-image in the top right corner */
    top: 10px; /* position the logo-image 10px from the top */
    right: 10px; /* position the logo-image 10px from the right */
    width: 190px; /* set the width of the logo-image */
    height: 256px; /* set the height of the logo-image */
}





.welcome {
    display: flex;
    background-color: #F8F9F9;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #0352A9;
    padding: 10px;
    margin: 0;
    width: 60%;
}

p {
    padding: 10px;
    margin: 0;
    width: 40%;
}


#annuities-section {
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

#first-image {
width: 45%;
height: auto;
margin-bottom: 10px;
}

#second-image {
width: 20%;
height: auto;
margin-bottom: 10px;
}


#annuities-statistic, #annuities-protection {
text-align: center;
width: 40%;
margin-bottom: 10px;
}

#annuities-link {
  background-color: green; /* sets the background color to green */
  color: white; /* sets the text color to white */
  border-radius: 10px; /* sets rounded corners */
  padding: 10px 20px; /* adds padding to the button */
  text-decoration: none; /* remove underline from the link */
    margin-bottom: 1em; /* add more space as per your requirement */
}






#life-insurance-section {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 background-color: #F8F9F9;
}

#life-insurance-section #third-image {
 width: 45%;
 height: auto;
 margin-bottom: 10px;
}


#life-insurance-section #fourth-image {
 width: 20%;
 height: auto;
 margin-bottom: 10px;
}

#life-insurance-section #life-insurance-description {
 text-align: center;
 margin-bottom: 10px;
}

#life-insurance-section #life-insurance-statistic {
 text-align: center;
 margin-bottom: 10px;
}

#life-insurance-section #life-insurance-protection {
 text-align: center;
 margin-bottom: 10px;
}

#life-insurance-link {
  background-color: green; /* sets the background color to green */
  color: white; /* sets the text color to white */
  border-radius: 10px; /* sets rounded corners */
  padding: 10px 20px; /* adds padding to the button */
  text-decoration: none; /* remove underline from the link */
    margin-bottom: 1em; /* add more space as per your requirement */
}





/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Media Queries for responsive design /
@media (max-width: 600px) {
/ Navigation */
nav {
text-align: left;
overflow: hidden;
}
nav li {
display: block;
margin: 10px 0;
}







